<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h1 class="dashboard-heading">Your Dashboard</h1>
        
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            <div class="input-container">
                <label for="{{ form.habit_name.id }}">Habit Name:</label>
                {{ form.habit_name }}
            </div>
            
            <div class="input-container">
                <label for="{{ form.periodicity.id }}">Periodicity:</label>
                {{ form.periodicity }}
            </div>
            <div class="input-container">
                <label for="{{ form.deadline_hour.id }}">Deadline Hour:</label>
                {{ form.deadline_hour }}
            </div>
            
            <div class="submit-container">
                {{ form.submit }}
            </div>
        </form>
        
        <div class="habits-container">
            <div class="pending-habits">
                <h2>Pending Habits</h2>
                <ul class="habit-list">
                    {% for habit in pending_habits %}
                        <li>
                            {% if habit.periodicity == 'minutely' %}
                            Do for testing:
                        {% elif habit.periodicity == 'daily' %}
                             Do daily:
                        {% elif habit.periodicity == 'weekly' %}
                             Do weekly:
                        {% endif %}
                        {{ habit.task }}
                        | Deadline: {% if habit.next_pending_date %}
                        {{ habit.next_pending_date.strftime('%Y-%m-%d %H:%M:%S') }}
                    {% else %}
                        N/A
                    {% endif %}
                    
                            <form action="{{ url_for('complete_habit', habit_id=habit.id) }}" method="post">
                                <button type="submit" class="btn btn-success">Complete</button>
                            </form>
                            <form action="{{ url_for('delete_habit', habit_id=habit.id) }}" method="post" class="delete-form">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="checked-habits">
                <h2>Checked Habits</h2>
                <ul class="habit-list">
                    {% for habit in checked_habits %}
                        <li>
                            {{ habit.task }}
                            | Streak: {{ habit.current_streak }}
                            {% if habit.highest_streak is not none %}
                            | Highest streak: {{ habit.highest_streak }}
                            {% endif %}
                            <form action="{{ url_for('delete_habit', habit_id=habit.id) }}" method="post" class="delete-form">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            {% if habit.next_pending_date %}
                            <p>Pending agian: {{ habit.next_pending_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <a href="{{ url_for('struggle_habits') }}">Habits You Struggled with most in the month</a>
        </div>
        <a href="{{ url_for('index') }}">Go back to home page</a>
    </div>
</body>
</html>

